html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma;
    font-size: 12px;
    color: #000;
}

a, ul, li, img {
    padding: 0;
    margin: 0;
}

.container {
    width: auto;
    margin: 0 auto;
    padding: 30px 15px;
}

.gallery {
    width: 700px;
    position: absolute;
    height: auto;
}

.gallery .picture {
    width: 500px;
    height: auto;
    position: relative;
    float: left;
}

.gallery .picture img{
    width: 500px;
}

.gallery .picture ul {
    width: 480px;
    height: 38px;
    position: absolute;
    left: 0;
    bottom: 3px;
    background-color: rgba(255,255,255,0.7);
    font-size: 15px;
    padding: 5px 10px;
    color: #000;
    list-style: none;
}

.gallery div.navigationHolder {
    width: 100px;
    float: left;
    margin-top: 80px;
    
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.gallery a.navigation {
    width: 100px;
    height: 100px;
    line-height: 100px;
    float: left;
    
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.gallery .pageingUl {
    display: block;
    width: 500px;
    list-style: none;
    margin-left: 100px;
    text-align: center;
    font-size: 15px;
}

.gallery .pageingUl li {
    display: inline-block;
    margin-left: 5px;
}

.gallery .pageingUl li a {
    color: #000;
    text-decoration: none;
}

.gallery .pageingUl li a.highlight {
    text-decoration: underline;
}

.gallery .pageingUl li a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}